# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
server/node_modules
frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
frontent/.env.local
frontent/.env.development.local
frontent/.env.test.local
frontent/.env.production.local
frontent/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/connections
backend.php
