.card {
  display: flex;
  flex-direction: row;
  width: 553px;
  height: auto;
  /* background-color: rgb(202, 205, 208);
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%); */
  justify-content: left;
  padding: 0;
  margin: 4em auto 0;
  overflow: hidden;
}
