.card {
  display: flex;
  flex-direction: row;
  width: 455px;
  background-color: rgb(202, 205, 208);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  padding: 0;
  margin: 4em auto 0.5em;
  overflow: hidden;
}
