.slide {
    display: flex;
    height: 450px;
    width: auto;
}

.slideThumbnail {
    display: flex;
    height: 250px;
    width: auto;
    opacity: 80%;
}

.slideThumbnail:hover {
    outline: 2px solid rgb(201, 244, 174);
    outline-offset: -4px;
    opacity: 100%;
}
