.content {
  display: flex;
  height: 100%;
  width: auto;
  transition: 0.50;
  transform: translate(0px);
}

.whole-carousel {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 50%;
  margin: auto;
}