.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(208, 208, 208);
  justify-content: center;
  padding: 0px auto 15px;
  /* border-radius: 15px; */
}

.mainTitle {
  text-align: center;
  color: rgb(155, 87, 15);
  font-size: 5rem;
  /* font-style: italic; */
  margin: 15px auto;
}

.subTitle {
  text-align: center;
  margin: 15px 5px;
  font-weight: 200;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.dropDown {
  padding: 10px auto 15px;
  margin: 15px;
  border-radius: 10px;
  width: 15%;
}
