.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(208, 208, 208);
  justify-content: center;
  padding: 0px auto 15px;
}

.headerElements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerLine {
  height: .33em;
  justify-self: flext-start;
  width: 85%;
  margin: auto 0px auto 25px;
  background-color: rgb(155, 87, 15);
}

.mainTitle {
  text-align: left;
  width: 33%;
  color: rgb(155, 87, 15);
  font-size: 2.5em;
  font-style: italic;
  margin: 10px 15px 10px 20px;
}

.subTitle {
  text-align: center;
  margin: 15px 5px;
  color: azure;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(41, 68, 74);
}

.dropDown {
  padding: 10px;
  margin: 0 auto 15px auto;
  border-radius: 10px;
  width: 35%;
}

.option {
  margin: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .headerElements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .headerLine {
    display: none;
    height: .33em;
    justify-self: flext-start;
    width: 15%;
    margin: auto 0px auto 15px;
    background-color: rgb(155, 87, 15);
  }

  .mainTitle {
    text-align: left;
    width: 100%;
    color: rgb(155, 87, 15);
    font-size: 2.5em;
    margin: 10px 15px 10px 20px;
  }
  
  .subTitle {
    text-align: center;
    font-size: 1.25em;
    margin: 15px 5px;
    color: azure;
  }
  
  .selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(41, 68, 74);
  }
  
  .dropDown {
    padding: 10px auto 15px;
    margin: 0 auto 15px auto;
    border-radius: 10px;
    width: 45%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .buttonText {
    font-size: 2em;
    padding: 4px 15px 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .buttonText {
    font-size: 3em;
    padding: 4px 20px 0px;
  }
  .dropDown {
    width: 30%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .buttonText {
    font-size: 3em;
    padding: 4px 25px 0px;
  }
  .dropDown {
    width: 20%;
  }
}
