.header {
    display: flex;
    flex-direction: column;
    width: 50em;
    background-color: rgb(202, 205, 208);
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
}

.mainTitle {
    text-align: center;
}

.subTitle {
    text-align: center;
    margin: 5px 5px 15px;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropDown {
    padding: 5px;
    margin: 5px 15px;
}