.buttonText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: rgb(41, 68, 74);
    display: flex;
    cursor: pointer;
    text-shadow: 4px rgba(20, 20, 20, 50%);
    padding: 10px auto;
    line-height: .75em;
    
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .buttonText {
        font-size: 2em;
        padding: 4px 15px 0px;
    }

} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .buttonText {
        font-size: 2em;
        padding: 4px 15px 0px;
    }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .buttonText {
        font-size: 3em;
        padding: 4px 20px 0px;
    }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    .buttonText {
        font-size: 3em;
        padding: 4px 25px 0px;
    }
} */