.app-header {
    display: flex;
    flex-direction: column;
    margin: 5% auto 5%;
    align-items: center;
    justify-content: center;
}

.whole-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 0px auto 0px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  }  

.thumbnail-grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 20px;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    max-width: 90vw;
    margin: 0 auto 45px auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .whole-carousel {
        width: auto;
        height: 75%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .whole-carousel {
        width: 90%;
        height: 75%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .whole-carousel {
        width: 50%;
    }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    .whole-carousel {
        width: 50%;
    }
}  */

.button-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5em;
    color: azure;
    align-self: center;
}

.button-right {
    transform: scaleX(-1);
}

